{% extends "base_layout.html" %} {% block content %}

<div>
  <div>
    {% if error %}
    <div class="d-flex justify-content-center align-items-center">
      <img src="../static/img/error.svg" alt="" />
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <h3>Something went wrong!</h3>
    </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-center">
      <img src="../static/img/404.svg" alt="" />
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
