<!DOCTYPE html>
<html>
  <head>
    <!-- THIS PAGE IS A COMMON LAYOUT FOR LOGIN AND REGISTER PAGES -->

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.cs"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />

    {% block header %} {% endblock%}
    <title>{{ title }}</title>
  </head>
  <body>
    <style>
      body {
        font-family: "Goudy Bookletter 1911", serif;
        /* background-color: #898989; */
      }
    </style>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        &ensp; <img src="../static/img/logo.png" height="60px" alt="" /><a
          class="navbar-brand"
          href="#"
          >&nbsp;Bookworms World</a
        >
        {% if session.id %}
        <div class="pt-1" style="color: white">{{session.name}}</div>
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if session.id %}

        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/profile">Profile</a>
          <a class="nav-item nav-link" href="{{url_for('results')}}">Search</a>

          <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
        </div>

        {%else %}
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
          <a class="nav-item nav-link" href="{{url_for('register')}}"
            >Register</a
          >
        </div>
        {% endif%}
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 mt-5" style="align-content: center">
          {% with messages=get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category,message in messages %}
          <div class="alert alert-{{category}}">{{message}}</div>
          {%endfor%} {%endif%} {%endwith%}
        </div>
      </div>
    </main>
    {% block content %}{% endblock %} {%block mysvg%}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://use.fontawesome.com/749af9323f.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/choices.js')}}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
